body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.logo {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo-color {
  color: #4d5ae5;
}

.nav-link {
  color: #2e2f42;
  font-weight: 500;
}

.nav-link:hover {
  color: #404bbf;
}

.contacts-adress {
  font-style: normal;
}
.contacts-link {
  color: #434455;
}

.contacts-link:hover {
  color: #404bbf;
}

.hero-section {
  background-color: #2e2f42;
}

.hero-title {
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
}

.button {
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
}

.button:hover {
  background-color: #404bbf;
}

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.name-team {
  background-color: #f4f4fd;
}

.team-list {
  background-color: #fff;
}

.list-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #fff;
}

.list-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
}

.portfolio-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.color-footer {
  background-color: #2e2f42;
}

.footer-text-color {
  color: #fff;
}

.portfolio-studio {
  color: #fff;
}
